@font-face {
  font-family: 'UhBeeRami';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRami.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

textarea {
  font-family: 'UhBeeRami', sans-serif;
}

textarea + button {
  font-family: 'UhBeeRami', sans-serif;
}